body{
    background: linear-gradient(to bottom right, rgb(42, 194, 183),rgb(41, 108, 123));
    height: 695px;
  }

form{
    margin-left: 35%;
    padding-top: 18%;
}
.button1{
    padding-bottom: 10px;
    width: 50%;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: none;
    border-color: rgb(42, 194, 183);

}
.button2{
    width: 50.8%;
    height: 30px;
    border-radius: 5px;
    box-shadow: none;
    border-color: rgb(42, 194, 183);
}
.move{
     margin-top:20px ;
  

}
.radius{
    border-radius: 5px;
    box-shadow: none;
    border-color: rgb(42, 194, 183);
}



@media(min-width:320px){
    body{ height:658px ;}
    .button1{width:120%;
        margin-left: -33%;
        margin-top: 50%;
       
    }.button2{
        width:123%;
        margin-left: -33%;
        margin-top: -15%;
    }.move{
        width:121%;
        margin-left: -33%;
        
    }
}@media(min-width:768px){
    body{ height:658px ;}
    .button1{margin-top: 25%;}
    .button2{width:121.5% ;}




}@media(min-width:1024px){    body{ height:679px ;
width: 500px;}
.button1{margin-top: -500px;
width: 150%;
margin-left: 100%;
margin-top: 50%;
}.button2{
    width: 152%;
    margin-left: 100%;
    }.move{
        margin-left: 100%;
    }

}